<!DOCTYPE html>
<html>
<body>
    <p>TOP 5 MARKETS</p>
    <div id="div1"></div>
    <script>
    let p_element = document.createElement("p");
    const element = document.getElementById("div1");
        {% for market in markets %}
        var object = {{market.values}};
        var ticker = "{{market.ticker}}";
        p_element.appendChild(document.createTextNode(ticker + " : " + "MOST RECENT : " + object.at(10079) + " 24HR CHANGE : " +
              ((object.at(10079 - 1439) - object.at(0)) / object.at(10079 - 1439))));
        element.appendChild(p_element);
        {% endfor %}
    </script>
</body>

</html>
